.footer{
    height: 100%;
    width:100%;
}
.footer-container{
    height:100%;
    padding:1rem;
    max-width: 100%;
    display:flex;
    gap:10rem;
    justify-content: center;
    align-items: center;
}
.social-media{
    display:flex;
    gap:2rem
}

@media screen and (max-width:768px){
    
    .footer-container{
        display:flex;
        height:fit-content;
        flex-direction: column;
        gap:2rem;
        justify-content: center;
        align-items: center;
    }
   
}